<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <appSettings>
    <!--Email accounts-->
    <add key="orderEmail" value="info@gabi-boje.rs"/>
    <add key="orderEmailPassword" value="gabi123!"/>
    <add key="infoEmail" value="info@gabi-boje.rs"/>
    <add key="infoEmailPassword" value="gabi123!"/>
    <add key="errorEmailFrom" value="info@gabi-boje.rs"/>
    <add key="errorEmailFromPassword" value="gabi123!"/>

    <add key="webShopDestinationEmail" value="djurisic@yuteam.co.rs"/>
    
    <!--Email accounts smtp-->
    <add key="smtp" value="mail.gabi-boje.rs"/>
    <add key="smtpPort" value="8889"/>
    <add key="smtpSsl" value="false"/>

    <add key="errorEmailFromSmtp" value="mail.gabi-boje.rs"/>
    <add key="errorEmailFromSmtpPort" value="8889"/>
    <add key="errorEmailFromSmtpSsl" value="false"/>
    <add key="errorSmtp"/>
    
    <!--WebShop-->
    <add key="companyName" value="Gabi-boje"/>
    <add key="logoUrl" value="http://www.gabi-boje.rs/images/logo.jpg"/>
    <add key="webShopDomain" value="gabi-boje.rs"/>
    <add key="webShopUrl" value="https://www.gabi-boje.rs"/>
    <add key="webShopLoginUrl" value="https://www.gabi-boje.rs/prijava"/>
    <add key="webShopAdminUrl" value="webShopAdmin"/>
    <add key="useSSL" value="true"/>
    
    <!--Delivery-->
    <add key="calculateDelivery" value="false"/>
    <add key="deliveryTime" value="2 do 5 radnih dana"/>
    <add key="deliveryCost" value="350"/>
    <add key="freeDeliveryTotalValue" value="7000"/>

    <!--Products-->
    <add key="showIfNotInStock" value="true"/>
    <add key="productDescription" value="* Nastojimo da budemo što precizniji u opisu svih artikala, ali ne možemo da garantujemo da su svi opisi kompletni i bez grešaka."/>
    <add key="updateProductsFromExternalApplication" value="true"/>
    <add key="exportProducts" value="false"/>
    <add key="fillZeroCode" value="true"/>
    <add key="fillZeroBarcode" value="true"/>
    <add key="fullProductUrl" value="true"/>
    <add key="productInMultipleCategories" value="true"/>
    <add key="includeSubcategoriesInProductList" value="false"/>
    <add key="hidePrice" value="false"/>
    <add key="roundPromotionPrice" value="false"/>
    <add key="allowProductPriceChange" value="false"/>
    <add key="allowOrderIfNotInStock" value="false"/>
    <add key="addDescriptionToOrderPage" value="false"/>
    <add key="deleteImagesFilesOnProductDelete" value="true"/>
    <add key="showBrandLogoOnProductPage" value="false"/>
    <add key="fullProductUrl" value="true"/>
    
    <!--ProductImages-->
    <add key="mainWidth" value="290"/>
    <add key="mainHeight" value="232"/>
    <add key="mainName" value="large"/>

    <add key="listWidth" value="160"/>
    <add key="listHeight" value="110"/>
    <add key="listName" value="home"/>

    <add key="thumbWidth" value="50"/>
    <add key="thumbHeight" value="40"/>
    <add key="thumbName" value="thumb"/>
    
    <!--Discount-->
    <add key="userDiscountVisible" value="true"/>
    <add key="orderDiscountVisible" value="true"/>
    <add key="userDiscountOnlyOnProductNotOnPromotion" value="true"/>
    
    <!--Categories-->
    <add key="includeParentUrlInCategoryUrl" value="true"/>
    <add key="capitalizeFirstLetter" value="true"/>
    <add key="useCategorySprites" value="false"/>
    
    <add key="addSeparateContactPage" value="true"/>
    <add key="hasRetails" value="false"/>
    <add key="listName" value="home"/>
    <add key="sortProductsByDescriptionAlso" value="false"/>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="eshopConnectionString" connectionString="Server=sql6009.site4now.net;Database=DB_A319EB_gabi2;User ID=DB_A319EB_gabi2_admin;Password=DjD3jc38o" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <authentication mode="Forms"/>
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomMembershipProvider" type="eshopBL.CustomMembershipProvider" connectionString="eshopConnectionString" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" PasswordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" type="CustomRoleProvider" connectionStringName="eshopConnectionString"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableSessionState="true">
      <controls>
        <add tagPrefix="ajaxtoolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>